<?xml version="1.0" encoding="utf-8"?>
<!-- Chặn truy cập công khai thư mục App_Data (file góp ý). -->
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="Block" path="*" verb="*" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
